extends layout

block content
  h1
   a(href="/") < 
   |  = #{title}  
  p
   form(name="newgraph", action="/graph", method="post")
    input(type="name", name="name")
    input(type="submit", value="ADD NEW")
  script(src='http://d3js.org/d3.v3.min.js')
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/graph.js')
  script(type='text/javascript').
   $(document).ready(function() {
   		drawGraph();
   	});